
<p>{{ 'Choose an event:'|trans }}</p>

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group me-2" role="group">
        {% for event_item in events %}
            <a
                class="btn btn-{{ event is defined and event is not empty and event.id == event_item.id ? 'primary' : 'secondary' }}"
                href="{{ path('admin_calendar', {event: event_item.id}) }}"
            >
                {{ event_item.name }}
            </a>
        {% endfor %}
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
        <a href="{{ path('admin_event_new') }}" class="btn btn-info">
            <i class="fas fa-plus"></i> {{ 'Create new' }}
        </a>
    </div>
</div>
