<h4>Event:</h4>

{% set cols_sizes = 10 / (event.venue.floors|length) %}

<div>
    <div class="row text-center">
        <div class="col-2 card">
            <div class="card-body">
                {{ 'Hours'|trans }}
            </div>
        </div>
        {% for floor in event.venue.floors %}
            <div class="col-{{ cols_sizes }} card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">{{ floor.name }}</div>
                        <div class="card-body">
                            <div class="row">
                                {% set floor_cols_sizes = 12 / (floor.rooms|length) %}
                                {% for room in floor.rooms %}
                                    <div class="col-{{ floor_cols_sizes }}">
                                        {{ room.name }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% for hour in hours %}
        <div class="row">
            <div class="col-2 card text-center">
                <div class="card-body">
                    {{ hour }}:00
                </div>
            </div>
            {% for floor in event.venue.floors %}
                <div class="col-{{ cols_sizes }} card">
                    <div class="card-body">
                        <div class="row">
                            {% set floor_cols_sizes = 12 / (floor.rooms|length) %}
                            {% for room in floor.rooms %}
                                <div class="col-{{ floor_cols_sizes }}">
                                    {% for time_slot in time_slots %}
                                        {% for scheduled_animation in time_slot.scheduledAnimations %}
                                            {% set state_class = scheduled_animation.stateCssClass %}
                                            <div class="card border-{{ state_class }}">
                                                <div class="card-header bg-{{ state_class }}">
                                                    {{ scheduled_animation.animation.name }}
                                                </div>
                                                <div class="card-body">
                                                    <p>{{ scheduled_animation.timeSlot }}</p>
                                                    <a href="{{ path('admin_scheduled_animation_edit', {entityId: scheduled_animation.id}) }}" class="card-link">
                                                        <i class="fas fa-pencil"></i> {{ 'Edit'|trans }}
                                                    </a>
                                                </div>
                                                <div class="card-footer bg-transparent border-success">
                                                    <a href="#" class="card-link">Another link</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
