{#

This was a prototype, let's keep it as-is just for the sake of it.

Don't use it :)

#}

{% set cols_sizes = 10 / (event.venue.floors|length) %}

<div class="row text-center m-0">
    <div class="col-2 card">
        <div class="card-body">
            {{ 'Hours'|trans }}
        </div>
    </div>

    {% for floor in event.venue.floors %}
        <div class="col-{{ cols_sizes }} card">
            <div class="card-body">
                <div class="card">
                    <div class="card-header">{{ floor.name }}</div>
                    <div class="card-body">
                        <div class="row">
                            {% set floor_cols_sizes = 12 / (floor.rooms|length) %}
                            {% for room in floor.rooms %}
                                <div class="col-{{ floor_cols_sizes }}">
                                    {{ room.name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% for hour in hours %}
    <div class="row m-0">
        <div class="col-2 card text-center">
            <div class="card-body">
                {{ hour }}:00
            </div>
        </div>
        {% for floor in event.venue.floors %}
            <div class="col-{{ cols_sizes }} card">
                <div class="card-body">
                    <div class="row">
                        {% set floor_cols_sizes = 12 / (floor.rooms|length) %}
                        {% for room in floor.rooms %}
                            <div class="col-{{ floor_cols_sizes }}">
                                {% for time_slot in room.timeSlots|filter(slot => slot.isInHour(hour)) %}
                                    {% for scheduled_animation in time_slot.scheduledAnimations|filter(schedule => schedule.state.value in filter_states) %}
                                        {% set state_class = scheduled_animation.stateCssClass %}
                                        <div class="card border-{{ state_class }} mb-2">
                                            <div class="card-header bg-{{ state_class }}">
                                                {{ scheduled_animation.animation.name }}
                                                <small>({{ ('scheduled_animation.state.' ~ scheduled_animation.stateString) | trans }})</small>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    {{ scheduled_animation.timeSlot }}
                                                </p>
                                            </div>
                                            {% if scheduled_animation.isPendingReview %}
                                                <div class="card-footer bg-transparent border-success text-center">
                                                    <form method="post">
                                                        <input type="hidden" name="_csrf" value="{{ csrf_token('accept_or_reject_schedule') }}">
                                                        {% if is_granted('CAN_VALIDATE_SCHEDULE', scheduled_animation) %}
                                                            <button
                                                                data-confirm="{{ 'schedule.list.confirm_accept'|trans }}"
                                                                type="submit"
                                                                class="mx-0 my-2 btn btn-small btn-success card-link"
                                                                formaction="{{ path('admin_scheduled_animation_accept', {id: scheduled_animation.id}) }}"
                                                            >
                                                                <i class="fa fa-check"></i> {{ 'schedule.list.confirm_accept'|trans }}
                                                            </button>
                                                            <button
                                                                data-confirm="{{ 'schedule.list.confirm_reject'|trans }}"
                                                                type="submit"
                                                                class="mx-0 my-2 btn btn-small btn-danger card-link"
                                                                formaction="{{ path('admin_scheduled_animation_reject', {id: scheduled_animation.id}) }}"
                                                            >
                                                                <i class="fa fa-xmark"></i> {{ 'schedule.list.confirm_reject'|trans }}
                                                            </button>
                                                        {% endif %}
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="card border-secondary">
                                            <div class="card-body">No event in this time slot</div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="card border-secondary">
                                        <div class="card-body">
                                            <p>{{ 'calendar.infobox.no_timeslot_configured'|trans }}</p>

                                            <a href="{{ path('admin_time_slot_new', {start: hour}) }}">
                                                <i class="fa fa-plus"></i> {{ 'calendar.infobox.add_timeslot'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
